.main-article {
    display: flex;
    flex-flow: row nowrap;
    padding: .5rem;
    margin: 1rem;
    background-color: rgb(212, 231, 231);
    border-radius: 10px;
}

.article-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
}

.article-body h2 {
    font-size: 32px;
}